.main-footer {
  color: white;
  background-color: #388761;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
.text-footer {
  color: #000 !important;
  font-family: "Kalpurush", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
.textContainer {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right{
  text-align: left;
}

#footer-contents-left{
  margin-left: -200px;
  margin-top: 30px;
}

#footer-contents-right{
  margin-left: 200px;
}

@media only screen and (max-width:900px) {
  #footer-contents-left{
    margin-left: 0px;
  }
  
  #footer-contents-right{
    margin-left: 30%;
    margin-right: auto;
  }
}
